* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  letter-spacing: -0.02em;
}

html,
body,
#root {
  font-size: 15px;
  padding: 0;
  margin: 0;
  height: 100%;
  max-height: 100%;
  font-weight: 500;
  color: #E7E7EB;
}
